<app-stepper [step]="3"></app-stepper>

<div class="row" style="padding-top: 20px">
  <div class="col-xs-10 col-md-10 col-lg-10 col-md-offset-1 col-xs-offset-1 col-lg-offset-1 text-center">
    <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: #a60766;"></span>
    <strong style="text-align: center">Messaggio inviato!</strong><br><br>
      <img class="img-circle" src="../../assets/img/andreamary.jpg" width="300" height="300" style="max-width: 100%; height: auto;">
  </div>
</div>

<div class="row" style="padding-top: 20px">
  <div class="col-xs-10 col-md-10 col-lg-10 col-md-offset-1 col-xs-offset-1 col-lg-offset-1 text-center">
    <strong style="text-align: center">GRAZIE!</strong><br>
  </div>
</div>

<div class="row" style="padding-top: 20px">
  <div class="col-xs-10 col-md-10 col-lg-10 col-md-offset-1 col-xs-offset-1 col-lg-offset-1">
    Ti è stata inviata un'email di conferma con il codice <u>IBAN</u> sul quale puoi eseguire l'accredito
    per il regalo insieme all'indirizzo della cerimonia e del ricevimento.<br>
    <small>[ Controllare la cartella di <i>SPAM</i> ]</small>
  </div>
</div>


