<div class="row">
  <div class="col-xs-4 col-md-4 col-lg-4 nopadding">
    <div class="line active" *ngIf="executed1"></div>
    <div class="line" *ngIf="!executed1"></div>
    <small *ngIf="executed1">Seleziona regalo</small>
  </div>
 <!-- <div class="col-xs-1 col-md-1 col-lg-1 nopadding">
    <div class="line active" *ngIf="executed1"></div>
    <div class="line" *ngIf="!executed1"></div>
  </div>
  <div class="col-xs-1 col-md-1 col-lg-1 nopadding">
    <div class="line active" *ngIf="executed1"></div>
    <div class="line" *ngIf="!executed1"></div>
  </div>-->
  <div class="col-xs-4 col-md-4 col-lg-4 nopadding">
    <div class="line active" *ngIf="executed2"></div>
    <div class="line" *ngIf="!executed2"></div>
    <small *ngIf="executed2">Inserisci messaggio</small>
  </div>
 <!-- <div class="col-xs-1 col-md-1 col-lg-1 nopadding">
    <div class="line active" *ngIf="executed2"></div>
    <div class="line" *ngIf="!executed2"></div>
  </div>
  <div class="col-xs-1 col-md-1 col-lg-1 nopadding">
    <div class="line active" *ngIf="executed2"></div>
    <div class="line" *ngIf="!executed2"></div>
  </div>-->
  <div class="col-xs-4 col-md-4 col-lg-4 nopadding">
    <div class="line active" *ngIf="executed3"></div>
    <div class="line" *ngIf="!executed3"></div>
    <small *ngIf="executed3">Confermato</small>
  </div>
  <!--<div class="col-xs-1 col-md-1 col-lg-1 nopadding">
    <div class="line active" *ngIf="executed3"></div>
    <div class="line" *ngIf="!executed3"></div>
  </div>
  <div class="col-xs-1 col-md-1 col-lg-1 nopadding">
    <div class="line active" *ngIf="executed3"></div>
    <div class="line" *ngIf="!executed3"></div>
  </div>-->
<!--  <div class="col-xs-3 col-md-3 col-lg-3 nopadding">
    <div class="line active" *ngIf="executed4"></div>
    <div class="line" *ngIf="!executed4"></div>
    <small *ngIf="executed4">Confermato</small>
  </div>-->
  <!--<div class="col-xs-1 col-md-1 col-lg-1 nopadding">
    <div class="line active" *ngIf="executed4"></div>
    <div class="line" *ngIf="!executed4"></div>
  </div>
  <div class="col-xs-1 col-md-1 col-lg-1 nopadding">
    <div class="line active" *ngIf="executed4"></div>
    <div class="line" *ngIf="!executed4"></div>
  </div>-->
</div>
